# Project
etc/
data/files
data/dataset

# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.pytest_cache/

# IDE
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store
